@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
body{
    padding: 0;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: aliceblue;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header{
    padding: 0.5rem 1rem;
    background-color: lightgray;
}
a{
    text-decoration: none;
    margin: 0 5px;
    color: black;
    text-transform: capitalize;
}
.hero{
    background-image: url(../assets/article_hero.jpg);
    background-position: cover;
    padding: 4rem 0;
}
h1{
    color: rgb(160, 23, 23);
    text-align: center;
    font-size: 40px;
}
.article{
    width: 300px;
    margin: 3rem;
    border: 2px solid black;
}
.article img{
    width: 100%;
    height: 200px;
    border-bottom: 2px solid black;
}
.padding-1{
    padding: 0.5rem 1rem;
}
.title{
    font-size: 22px;
}
.footer{
    margin: 1rem;
    align-items: center;
}
.footer i{
    font-size: 25px; 
    border: 2px solid black;
    border-radius: 50%;
    padding: 8px 12px;
    margin: 0 5px;
}
.footer small{
    font-size: 18px;
}